.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 {
  /**Begin Contact us Image block **/
  /**End Contact us Image block **/
  /** Begin Enquiry container**/
  /**End Enquiry container**/
}
@font-face {
  #dom_id_1622622486976015727435773307974 {
    font-family: icons;
    src: url("project_path_1622622486976047741557289769854/app/res/fonts/free-fa-solid-900.woff2");
  }
}
#dom_id_1622622486976015727435773307974 .contact_us_page_container {
  position: relative;
  width: 100%;
  margin-top: 105px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .contact_us_page_container {
    margin-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .contact_us_page_container {
    margin-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .contact_us_page_container {
    margin-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .contact_us_page_container {
    margin-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .contact_us_page_container {
    margin-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .image {
  position: relative;
  width: auto;
  height: 460px;
  background-image: url("project_path_1622622486976047741557289769854/app/res/images/contact_us/contact_us.jpg");
  background-position: center;
  background-size: cover;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image {
    height: 414px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image {
    height: 368px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image {
    height: 354.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image {
    height: 299px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image {
    height: 276px;
  }
}
#dom_id_1622622486976015727435773307974 .image .contact_us_head {
  color: white;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image .contact_us_head {
    font-size: 27px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image .contact_us_head {
    font-size: 24px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image .contact_us_head {
    font-size: 23.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image .contact_us_head {
    font-size: 19.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .image .contact_us_head {
    font-size: 18px;
  }
}
#dom_id_1622622486976015727435773307974 .image .ghost_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#dom_id_1622622486976015727435773307974 .enquiry_form {
  position: relative;
  margin-top: 30px;
  width: 90%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  margin-bottom: 60px;
  height: auto;
  color: white;
  overflow: hidden;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .inputs {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding-left: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  color: #495057;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .inputs:focus {
  border-bottom: 2px solid black;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .select {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 50px;
  padding-left: 25px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  color: #495057;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .select:focus {
  border-bottom: 2px solid black;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .text_area {
  position: relative;
  margin-top: 20px;
  width: 100%;
  padding-left: 25px;
  box-sizing: border-box;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: sans-serif;
  background-color: transparent;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .text_area:focus {
  border-bottom: 2px solid black;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .character_count {
  position: relative;
  float: left;
  color: grey;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .send_button {
  position: relative;
  margin-top: 10px;
  width: 250px;
  height: 55px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .send_button:hover {
  background-color: black;
  color: white;
}
#dom_id_1622622486976015727435773307974 .enquiry_form .loading {
  width: 100%;
  height: 100%;
  background-color: white;
}
#dom_id_1622622486976015727435773307974 #google_map {
  position: relative;
  width: 100%;
  height: 400px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 #google_map {
    height: 360px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 #google_map {
    height: 320px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 #google_map {
    height: 308px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 #google_map {
    height: 260px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 #google_map {
    height: 240px;
  }
}
#dom_id_1622622486976015727435773307974 .alert_box {
  position: fixed;
  display: none;
  width: 450px;
  max-width: 95%;
  height: auto;
  padding: 30px 10px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .alert_box .close_alert_box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  font-size: 22px;
  font-family: icons;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .message_box {
  position: fixed;
  display: none;
  width: 300px;
  height: auto;
  padding: 30px 50px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .message_box .tick_image {
  position: relative;
  width: 80px;
}
#dom_id_1622622486976015727435773307974 .message_box .message {
  position: relative;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: gray;
}
#dom_id_1622622486976015727435773307974 .message_box .message .thanks {
  top: 0px;
  color: #d81730;
  font-size: 20px;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 10px 0;
  font-family: "Lato", sans-serif;
  background-color: #529c29;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button:hover {
  background-color: #538e32;
}