$project_path : "project_path_1622622486976047741557289769854";
$dom_id : "dom_id_1622622486976015727435773307974";
@import "../app/res/scss/styler.scss";
@import "../app/res/scss/time_fitness_theme.scss";
#dom_id_1622622486976015727435773307974{
@font-face {
    font-family: icons;
    src:url('#{$project_path}/app/res/fonts/free-fa-solid-900.woff2');
}

.contact_us_page_container {
    position: relative;
    width: 100%;
    @include responsive(margin-top, $header_height);
    //    background-color: cornflowerblue;
}

/**Begin Contact us Image block **/

.image {
    position: relative;
    width: auto;
    @include responsive(height, 460px);
    background-image: url('#{$project_path}/app/res/images/contact_us/contact_us.jpg');
    background-position: center;
    background-size: cover;

    .contact_us_head {
        color: white;
        @include responsive(font-size, 30px);
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);

    }

    .ghost_image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

}

/**End Contact us Image block **/

/** Begin Enquiry container**/

.enquiry_form {
    position: relative;
    margin-top: 30px;
    width: 90%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    margin-bottom: 60px;
    height: auto;
    color: white;
    overflow: hidden;
    text-align: center;

    .inputs {
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 50px;
        padding-left: 25px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        color: #495057;

        &:focus {
            border-bottom: 2px solid black;
        }
    }

    .select {
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 50px;
        padding-left: 25px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        color: #495057;

        &:focus {
            border-bottom: 2px solid black;
        }

    }

    .text_area {
        position: relative;
        margin-top: 20px;
        width: 100%;
        padding-left: 25px;
        box-sizing: border-box;
        resize: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 14px;
        font-family: sans-serif;
        background-color: transparent;

        &:focus {
            border-bottom: 2px solid black;
        }

    }

    .character_count {
        position: relative;
        float: left;
        color: grey;
    }


    .send_button {
        position: relative;
        margin-top: 10px;
        width: 250px;
        height: 55px;
        background-color: transparent;
        font-family: 'Lato', sans-serif;
        color: black;
        font-size: 15px;
        letter-spacing: 2px;
        border: 1px solid black;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .loading {
        width: 100%;
        height: 100%;
        background-color: white;
    }

}

#google_map {
    position: relative;
    width: 100%;
    @include responsive(height, 400px);
    //    background-color: green;

}

.alert_box {
    position: fixed;
    display: none;
    width: 450px;
    max-width: 95%;
    height: auto;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    text-align: center;

    .close_alert_box {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        font-size: 22px;
        font-family: icons;
        cursor: pointer;
    }
}

.message_box {
    position: fixed;
    display: none;
    width: 300px;
    height: auto;
    padding: 30px 50px;
    border: 1px solid black;
    background-color: white;
    text-align: center;

    .tick_image {
        position: relative;
        width: 80px;
        //        background-color: green;
    }

    .message {
        position: relative;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: gray;

        .thanks {
            top: 0px;
            color: #d81730;
            font-size: 20px;
        }

    }

    .ok_button {
        position: relative;
        width: 200px;
        height: 30px;
        margin: 10px 0;
        font-family: 'Lato', sans-serif;
        //        border: 3px solid black;
        //        border-radius: 5px;
        background-color: #529c29;
        color: white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            background-color: #538e32;
        }
    }
}


/**End Enquiry container**/

}