.message_container {
    position: fixed;
    bottom: 1%;
    width: auto;
    max-width: 85%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 25px -5px $c1-dark;
    background-color: white;
    color: $c1-dark;
    overflow: hidden;
    //    border-radius: 10px;
    padding: 10px 10px;
    opacity: 1;
    animation: firefly_effect 6s linear infinite;
    .consent_ok_button {
        padding: 10px 20px;
        color: white;
        background-color: $c1;
        border-radius: 5px;
        margin: 10px 0 2px 0;
        cursor: pointer;
    }

}

@keyframes firefly_effect {
    0% {
        opacity: 0.3;
    }
    5% {
        opacity: 0.3;
    }

    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    95% {
        opacity: 0.3;
    }
    100%{
        opacity: 0.3;
    }
}
