.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 select {
  background-color: white;
  border: none;
}
#dom_id_1622622486976015727435773307974 select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}
#dom_id_1622622486976015727435773307974 .view_product_page_container {
  position: relative;
  margin-top: 105px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .view_product_page_container {
    margin-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .view_product_page_container {
    margin-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .view_product_page_container {
    margin-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .view_product_page_container {
    margin-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .view_product_page_container {
    margin-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .product_info_top_container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block1 {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block1 .product_image {
  width: 90%;
  max-width: 500px;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .product_brand {
  position: relative;
  display: inline-block;
  height: 40px;
  margin-top: 30px;
  margin-left: 5%;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  border-left: 10px;
  border-right: 10px;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 1px black;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .product_name {
  position: relative;
  width: 90%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  color: darkblue;
  font-size: 26px;
  font-family: "Corbel", sans-serif;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .product_type {
  position: relative;
  margin-left: 5%;
  margin-top: 5px;
  font-size: 22px;
  font-family: "Corbel", sans-serif;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .MRP {
  position: relative;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: line-through;
  color: grey;
  font-size: 16px;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .offer_price {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  color: #237c74;
  font-weight: 600;
  font-family: "manrope bold", sans-serif;
  font-size: 26px;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .off_percentage {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #0089dc;
  font-weight: 600;
  padding-left: 50px;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .stock {
  position: relative;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 20px;
  font-family: sans-serif;
  color: yellowgreen;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: auto;
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container {
    grid-template-columns: auto;
  }
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container .single_highlight_container {
  display: inline-block;
  margin-left: 5%;
  margin-top: 5px;
  height: 60px;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container .single_highlight_container .highlight_image {
  position: relative;
  display: inline-block;
  width: 30px;
  background-position: center;
  background-size: cover;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container .single_highlight_container .highlight_content {
  position: relative;
  display: inline-block;
  max-width: 200px;
  margin-left: 5px;
  font-size: 18px;
  color: #333;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container .single_highlight_container .highlight_content .highlight_value {
  font-size: 16px;
  color: grey;
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .highlights_container .single_highlight_container {
    margin-top: 15px;
  }
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container {
  position: relative;
  margin-top: 50px;
  text-align: center;
  width: auto;
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
  position: relative;
  width: 230px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "manrope bold", sans-serif;
  background-image: linear-gradient(to right, #ff433a, #ff433a);
  cursor: pointer;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
    width: 207px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
    width: 184px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
    width: 177.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
    width: 149.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now {
    width: 138px;
  }
}
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
  position: relative;
  margin-left: 5%;
  width: 220px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-image: linear-gradient(to right, #ff433a, #ff433a);
  cursor: pointer;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 198px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 176px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 169.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 143px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 132px;
  }
}
@media (max-width: 800px) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now,
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 170px;
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    margin-left: 1%;
  }
}
@media (max-width: 355px) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container {
    margin-top: 10px;
  }
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .call_now,
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    width: 145px;
  }
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block2 .button_container .send_enquiry {
    margin-left: 1%;
  }
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .product_info_top_container .block1,
#dom_id_1622622486976015727435773307974 .product_info_top_container .block2 {
    width: 100%;
  }
}
#dom_id_1622622486976015727435773307974 .content_container {
  position: relative;
  display: none;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-shadow: 1px 0 5px grey;
}
#dom_id_1622622486976015727435773307974 .content_container .content_title {
  position: relative;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: gray;
  color: white;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 36px;
}
#dom_id_1622622486976015727435773307974 .content_container .content_table {
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
}
#dom_id_1622622486976015727435773307974 .content_container .content_table tr td:first-child {
  padding: 10px;
  box-sizing: border-box;
  width: 450px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}
#dom_id_1622622486976015727435773307974 .content_container .content_table tr td:last-child {
  padding-right: 5px;
}
#dom_id_1622622486976015727435773307974 .content_container .content_table tr:nth-child(even) {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
}
#dom_id_1622622486976015727435773307974 .ghost {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup {
  position: fixed;
  display: none;
  width: 900px;
  height: 100%;
  max-height: 520px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 60px;
  color: black;
  font-size: 36px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  pointer-events: none;
  background-color: white;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
    font-size: 32.4px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
    font-size: 28.8px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
    font-size: 27.72px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
    font-size: 23.4px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .form_header {
    font-size: 21.6px;
  }
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
  color: black;
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_image_block {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 50%;
  padding-top: 60px;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_image_block .selected_product_image {
  height: 100%;
  max-height: 400px;
  max-width: 400px;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  color: black;
  overflow-y: scroll;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .input_container {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #f21d1d;
  /*        background-color: blue;*/
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .input_container .input_icon {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 100%;
  font-size: 20px;
  color: black;
  pointer-events: none;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .input_container .inputs {
  width: 100%;
  height: 100%;
  color: black;
  padding-left: 60px;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .enquiry_textarea {
  resize: none;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  color: black;
  border: none;
  border-bottom: 1px solid #f21d1d;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .character_count {
  position: relative;
  float: left;
  color: grey;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .submit_button {
  background-color: #f21d1d;
  border: none;
  width: 100%;
  height: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #f21d1d;
  border-radius: 5px;
}
#dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form .enquiry_inputs_container .submit_button:hover {
  background-color: white;
  color: #f21d1d;
}
@media (max-width: 900px) {
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup {
    width: 95%;
    max-height: none;
    overflow-y: scroll;
    transform: translate(-50%, 0%);
    top: 0%;
  }
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_image_block {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
  }
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_image_block .selected_product_image {
    width: 80%;
    height: auto;
  }
  #dom_id_1622622486976015727435773307974 .product_enquiry_popup .product_enquiry_form {
    position: relative;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
}
#dom_id_1622622486976015727435773307974 .message_box {
  position: fixed;
  display: none;
  width: 250px;
  height: auto;
  padding: 30px 50px;
  border: 1px solid black;
  background-color: white;
  color: white;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .message_box .tick_image {
  position: relative;
  width: 80px;
}
#dom_id_1622622486976015727435773307974 .message_box .message {
  position: relative;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: gray;
}
#dom_id_1622622486976015727435773307974 .message_box .message .thanks {
  top: 0px;
  color: black;
  font-size: 20px;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 10px 0;
  font-family: "Lato", sans-serif;
  background-color: #46886e;
  border: 1px solid #46886e;
  color: white;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button:hover {
  background-color: white;
  color: #46886e;
}