.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .account_page_container {
  padding-top: 105px;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f3f6;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container {
    padding-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container {
    padding-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container {
    padding-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container {
    padding-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container {
    padding-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container,
#dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
  margin-top: 50px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
    margin-top: 20px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
    margin-top: 15px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
    margin-top: 13.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
    margin-top: 7.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container {
    margin-top: 5px;
  }
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons {
  height: 50px;
  background-color: white;
  float: left;
  overflow: hidden;
  box-shadow: 0 0 2px #cecece;
  transition: all 0.2s;
  margin-bottom: 10px;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons,
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons * {
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons:hover {
  box-shadow: 0 0 5px grey;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons button {
  float: left;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons button:first-child {
  width: 40%;
  padding-left: 10px;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons button:last-child {
  width: 60%;
  padding-right: 10px;
}
#dom_id_1622622486976015727435773307974 .account_page_container .top_buttons_container .top_big_buttons button img {
  height: 65%;
}
#dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
  margin-top: 50px;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 20px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
    margin-top: 20px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
    margin-top: 15px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
    margin-top: 13.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
    margin-top: 7.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .account_page_container .profile_details_container {
    margin-top: 5px;
  }
}
#dom_id_1622622486976015727435773307974 .form1 {
  background-color: white;
  box-shadow: 0 0 10px lightgrey;
}
#dom_id_1622622486976015727435773307974 .form1 .form_title {
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  background-color: #333;
  color: white;
  font-size: 19px;
  margin-bottom: 20px;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container {
  position: relative;
  display: inline-block;
  width: auto;
  position: relative;
  height: auto;
  min-height: 53px;
  max-width: 100%;
  margin: 0px;
  color: black;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 1px;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container:hover {
  border: 1px solid black;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container:focus-within {
  border: 2px solid #333;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container:focus-within .input_label {
  color: #333;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container input[type=text] {
  max-width: 100%;
  height: 53px;
  padding-left: 30px;
  font-size: 18px;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container input[type=radio] {
  transform: scale(1.5);
  margin: 0px 5px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container button {
  height: 100%;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container textarea {
  resize: none;
  width: 350px;
  max-width: 100%;
  height: 100px;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
}
#dom_id_1622622486976015727435773307974 .form1 .input_container .input_label {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 6px;
  padding-right: 5px;
  margin-left: 10px;
  transform: translate(0%, -50%);
  font-family: sans-serif;
  color: grey;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: white;
  cursor: default;
}