<div class="header_module_container no_select">
    <div class="header_block">

        <div class="logo_name_search_grid_container">


            <button class="logo grid-item" onclick="modular.goto('/');">
                <img src="/app/res/images/timefitness_logo.png" oncontextmenu="return false;" ondragstart="return false;">
            </button>


            <button class="company_name grid-item" onclick="modular.goto('/');">TIME FITNESS</button>


            <div class="search_block grid-item">
                <div class="search_container">
                    <input type="text" name="search_input" placeholder="Search...">
                    <button class="search_button">
                        <i class="fas fa-search"></i>
                    </button>
                    <table class="suggestions_container lc">
<!--TEMPLATE
                        <tr>
                            <td><img src="/app/res/images/dumbell.jpg"></td>
                            <td>10kg Dumbells</td>
                            <td>Rs 1785</td>
                        </tr>
                        <tr>
                            <td>pic</td>
                            <td>Shabham Treadmill</td>
                            <td>Rs 1785</td>
                        </tr>
                        <tr>
                            <td><img src="/app/res/images/dumbell.jpg" height="100%"></td>
                            <td>10kg Dumbells</td>
                            <td>Rs 1785</td>
                        </tr>
                        <tr>
                            <td>pic</td>
                            <td>Shabham Treadmill</td>
                            <td>Rs 1785</td>
                        </tr>
-->
                    </table>
                </div>
            </div>
            <img class="ham" src="/app/res/images/options_ham3.png">
        </div>

        <table class="links_container">
            <tr>
                <td onclick="modular.goto('/');">HOME</td>
                <td onclick="modular.goto('/BrowseCategory');">PRODUCTS</td>
                <td onclick="modular.goto('/ContactUs');">CONTACT US</td>
                <td onclick="modular.goto('/AboutUs');">ABOUT US</td>
            </tr>
        </table>
    </div>

</div>