.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 select {
  background-color: white;
  border: none;
}
#dom_id_1622622486976015727435773307974 select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}
#dom_id_1622622486976015727435773307974 .enq_popup_container {
  position: fixed;
  right: 1.5%;
  bottom: 10%;
  height: auto;
  background-color: transparent;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .enq_popup_container .enq {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #6e4d44;
  font-family: sans-serif;
}
#dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
  position: relative;
  margin-top: 5px;
  width: 75px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    margin-top: 4.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    margin-top: 4px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    margin-top: 3.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    margin-top: 3.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    margin-top: 3px;
  }
}
#dom_id_1622622486976015727435773307974 .enq_popup_container .popup:hover {
  transform: scale(1.05);
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .enq_popup_container {
    right: 2%;
  }
  #dom_id_1622622486976015727435773307974 .enq_popup_container .enq {
    font-size: 18px;
  }
  #dom_id_1622622486976015727435773307974 .enq_popup_container .popup {
    width: 60px;
  }
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container {
  position: fixed;
  display: none;
  opacity: 0;
  width: 500px;
  min-height: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px #333;
  overflow: hidden;
  /*        transition: transform .2s;*/
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .form_header {
  position: relative;
  width: 100%;
  height: 80px;
  color: black;
  font-size: 26px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
  color: black;
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  /*        background-color: blue;*/
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container .input_icon {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 100%;
  font-size: 20px;
  color: #f21d1d;
  background-color: white;
  pointer-events: none;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container .inputs {
  width: 100%;
  height: 100%;
  padding-left: 60px;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .enquiry_textarea {
  resize: none;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  color: black;
  border: none;
  border-bottom: 1px solid #ccc;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .character_count {
  position: relative;
  float: left;
  color: grey;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .submit {
  background-color: #febd69;
  border: none;
  width: 100%;
  height: 50px;
  color: black;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #febd69;
  border-radius: 5px;
}
#dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .submit:hover {
  background-color: white;
  color: #febd69;
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .enquiry_form_container {
    width: 95%;
  }
  #dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container {
    height: 35px;
  }
  #dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container .input_icon {
    width: 40px;
  }
  #dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .input_container .inputs {
    padding-left: 50px;
  }
  #dom_id_1622622486976015727435773307974 .enquiry_form_container .enquiry_inputs_container .submit {
    height: 40px;
  }
}
#dom_id_1622622486976015727435773307974 .alert_box {
  position: fixed;
  display: none;
  width: 450px;
  max-width: 95%;
  height: auto;
  padding: 30px 10px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .alert_box .close_alert_box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  font-size: 22px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .message_box {
  position: fixed;
  display: none;
  width: 250px;
  height: auto;
  padding: 30px 50px;
  border: 1px solid black;
  background-color: white;
  color: white;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .message_box .tick_image {
  position: relative;
  width: 80px;
}
#dom_id_1622622486976015727435773307974 .message_box .message {
  position: relative;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: gray;
}
#dom_id_1622622486976015727435773307974 .message_box .message .thanks {
  top: 0px;
  color: black;
  font-size: 20px;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 10px 0;
  font-family: "Lato", sans-serif;
  background-color: #46886e;
  border: 1px solid #46886e;
  color: white;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .message_box .ok_button:hover {
  background-color: white;
  color: #46886e;
}