<div class="product_list_page_container">
    <div class="product_list_container">
        <div class="list_title"></div>
        <div class="products_container">
            <div class="single_product" style="display: none;  width: 270px;">
                <button class="image_container">
                    <img class="product_image" src="/app/res/images/product/treadmill.jpg" oncontextmenu="return false;" ondragstart="return false;">
                </button>

                <div class="product_name">BH Fitness BT 6441 T100 Beast</div>
                <div class="product_type">Commercial treadmills</div>
                <div class="product_details_container">
                    <button class="prices_container">
                        <span class="selling_price">Rs. 5,000</span><br>
                        <span class="MRP">Rs. 10,000</span>
                    </button>
                    <button style="cursor: pointer;">
                        <span class="off_percentage">50% Off</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="view_more_container">
            <button class="view_more_button lc">View More</button>
            <svg class="view_more_loading lc" width="33px" height="33px" style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
                <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 0s;">
                    <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
                </circle>
            </svg>
            <button class="no_more_results lc">No more results</button>
        </div>
    </div>
    <div class="loading lctc" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
            <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#0089dc" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 2s;">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
        </svg>
    </div>
</div>
