select {
    background-color: white;
    border: none;

    option {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px;
    }
}

.view_product_page_container {
    position: relative;
    @include responsive(margin-top, $header_height);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    //    background-color: blue;
}

.product_info_top_container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    overflow: hidden;
    //    background-color: crimson;

    .block1 {
        position: relative;
        float: left;
        width: 50%;
        height: auto;
        //        background-color: rebeccapurple;
        text-align: center;

        .product_image {
            width: 90%;
            max-width: 500px;
            //            border: 1px solid lightgrey;
        }
    }

    .block2 {
        position: relative;
        float: left;
        width: 50%;
        height: auto;
        //        background-color: black;

        .product_brand {
            position: relative;
            display: inline-block;
            height: 40px;
            margin-top: 30px;
            margin-left: 5%;
            margin-bottom: 5px;
            font-family: 'Lato', sans-serif;
            border-left: 10px;
            border-right: 10px;
            border-style: solid;
            border-color: white;
            box-shadow: 0 0 1px black;
        }

        .product_name {
            position: relative;
            width: 90%;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            color: darkblue;
            font-size: 26px;
            font-family: 'Corbel', sans-serif;
        }

        .product_type {
            position: relative;
            margin-left: 5%;
            margin-top: 5px;
            font-size: 22px;
            font-family: 'Corbel', sans-serif;
        }

        .MRP {
            position: relative;
            width: 90%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            text-decoration: line-through;
            color: grey;
            font-size: 16px;
        }

        .offer_price {
            position: relative;
            display: inline-block;
            margin-top: 5px;
            margin-left: 5%;
            color: #237c74;
            font-weight: 600;
            font-family: 'manrope bold', sans-serif;
            font-size: 26px;
        }

        .off_percentage {
            position: relative;
            display: inline-block;
            //        width: 200px;
            font-size: 16px;
            color: #0089dc;
            font-weight: 600;
            padding-left: 50px;
        }

        .stock {
            position: relative;
            margin-top: 10px;
            margin-left: 5%;
            font-size: 20px;
            font-family: sans-serif;
            color: yellowgreen;
        }

        .highlights_container {
            position: relative;
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            //            background-color: yellow;

            @media(max-width:720px) {
                grid-template-columns: auto;
            }


            .single_highlight_container {
                display: inline-block;
                margin-left: 5%;
                margin-top: 5px;
                height: 60px;
                //            background-color: aquamarine;


                .highlight_image {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    //            height: 30px;
                    background-position: center;
                    background-size: cover;

                }

                .highlight_content {
                    position: relative;
                    display: inline-block;
                    max-width: 200px;
                    margin-left: 5px;
                    font-size: 18px;
                    color: #333;

                    .highlight_value {
                        font-size: 16px;
                        color: grey;
                    }

                }

                @media(max-width:720px) {
                    margin-top: 15px;
                }
            }

        }

        .button_container {
            position: relative;
            margin-top: 50px;
            text-align: center;
            width: auto;

            .call_now {
                position: relative;

                @include responsive(width, 230px);
                height: 50px;
                color: white;
                font-size: 18px;
                font-weight: 400;
                font-family: 'manrope bold', sans-serif;
                background-image: linear-gradient(to right, #ff433a, #ff433a);
                cursor: pointer;
            }

            .send_enquiry {
                position: relative;
                margin-left: 5%;
                @include responsive(width, 220px);
                height: 50px;
                color: white;
                font-size: 18px;
                font-weight: 400;
                background-image: linear-gradient(to right, #ff433a, #ff433a);
                cursor: pointer;
            }

            @media(max-width:800px) {

                .call_now,
                .send_enquiry {
                    width: 170px;
                    margin-top: 0px;
                    font-size: 16px;
                    margin-bottom: 30px;

                }

                .send_enquiry {
                    margin-left: 1%;
                }
            }

            @media(max-width:355px) {
                margin-top: 10px;

                .call_now,
                .send_enquiry {
                    width: 145px;

                }

                .send_enquiry {
                    margin-left: 1%;
                }
            }
        }

    }

    @media(max-width:720px) {

        .block1,
        .block2 {
            width: 100%;
        }
    }
}

.content_container {
    position: relative;
    display: none;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    //    min-height: 800px;
    box-shadow: 1px 0 5px grey;
    //    text-align: center;
    //    background-color: brown;

    .content_title {
        position: relative;
        margin-left: 0px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        box-sizing: border-box;
        background-color: gray;
        color: white;
        font-family: "Avenir Next", Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: left;
        line-height: 36px;
        //        border: 1px solid grey;
    }

    .content_table {
        width: 100%;
        //        margin-left: 1%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        background-color: white;

        tr {
            td:first-child {
                padding: 10px;
                box-sizing: border-box;
                width: 450px;
                font-size: 16px;
                font-weight: 600;
                text-align: left;
                font-family: "Avenir Next", Arial, Helvetica, sans-serif;

            }

            td:last-child {
                padding-right: 5px;
            }

            &:nth-child(even) {
                background-color: #e9e9e9;
                border: 1px solid #e9e9e9;
            }
        }
    }

}

.ghost {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
}

.product_enquiry_popup {
    position: fixed;
    display: none;
    width: 900px;
    height: 100%;
    max-height: 520px;
    border-radius: 10px; //    box-shadow: 0 0 5px #333;
    background-color: white;
    overflow: hidden;

    .form_header {
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        height: 60px;
        color: black;
        @include responsive(font-size, 36px);
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        pointer-events: none;
        background-color: white;
    }

    .close_button {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 40px;
        width: 40px;
        color: black;
        font-size: 22px;
        font-weight: normal;
        cursor: pointer;
    }

    .product_image_block {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 50%;
        padding-top: 60px;
        box-sizing: border-box;


        .selected_product_image {
            height: 100%;
            max-height: 400px;
            max-width: 400px;

        }

    }

    .product_enquiry_form {
        position: absolute;
        //        display: none;
        top: 0%;
        right: 0%;
        width: 50%;
        height: 100%;
        padding-top: 60px;
        box-sizing: border-box;
        color: black;
        overflow-y: scroll;


        .enquiry_inputs_container {
            position: relative;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;


            .input_container {
                position: relative;
                width: 100%;
                height: 40px;
                overflow: hidden;
                border-bottom: 1px solid #f21d1d;
                /*        background-color: blue;*/

                .input_icon {
                    position: absolute;
                    left: 0px;
                    width: 50px;
                    height: 100%;
                    font-size: 20px;
                    color: black;
                    pointer-events: none;

                }

                .inputs {
                    width: 100%;
                    height: 100%;
                    color: black;
                    padding-left: 60px;
                    box-sizing: border-box;


                }

            }

            .enquiry_textarea {
                resize: none;
                width: 100%;
                font-family: sans-serif;
                font-size: 14px;
                padding-left: 10px;
                box-sizing: border-box;
                color: black;
                border: none;
                border-bottom: 1px solid #f21d1d;

            }

            .character_count {
                position: relative;
                float: left;
                color: grey;
            }

            .submit_button {
                background-color: #f21d1d;
                border: none;
                width: 100%;
                height: 50px;
                color: white;
                font-family: sans-serif;
                font-size: 17px;
                cursor: pointer;
                border: 1px solid #f21d1d;
                border-radius: 5px;

                &:hover {
                    background-color: white;
                    color: #f21d1d;
                }

            }
        }


    }

    @media (max-width: 900px) {
        width: 95%;
        max-height: none;
        overflow-y: scroll;
        transform: translate(-50%, 0%);
        top: 0%;

        .product_image_block {
            position: relative;
            float: left;
            width: 100%;
            height: auto;

            .selected_product_image {

                width: 80%;
                height: auto;

            }


        }

        .product_enquiry_form {
            position: relative;
            float: left;
            padding-top: 10px;
            box-sizing: border-box;
            width: 100%;
            height: auto;
        }

    }
}


.message_box {
    position: fixed;
    display: none;
    width: 250px;
    height: auto;
    padding: 30px 50px;
    border: 1px solid black;
    background-color: white;
    color: white;
    text-align: center;

    .tick_image {
        position: relative;
        width: 80px;
        //        background-color: green;
    }

    .message {
        position: relative;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: gray;

        .thanks {
            top: 0px;
            color: black;
            font-size: 20px;
        }

    }

    .ok_button {
        position: relative;
        width: 200px;
        height: 30px;
        margin: 10px 0;
        font-family: 'Lato', sans-serif;
        background-color: #46886e;
        border: 1px solid #46886e;
        color: white;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: #46886e;
        }
    }
}
