.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

@font-face {
  #dom_id_1622622486976015727435773307974 {
    font-family: myFirstFont;
    src: url("project_path_1622622486976047741557289769854/app/res/fonts/sansation_light.woff");
  }
}
#dom_id_1622622486976015727435773307974 .footer_container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #231f20;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .block1 {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  color: white;
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container {
  position: relative;
  margin-top: 20px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 70px;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container > button {
  height: 100%;
  float: left;
}
@media (max-width: 300px) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container > button {
    float: none;
  }
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
  position: relative;
  width: 60px;
  opacity: 0.5;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
    width: 72px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
    width: 66px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
    width: 64.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
    width: 57px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .logo {
    width: 54px;
  }
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
  position: relative;
  margin-left: 10px;
  color: #9b8e8e;
  text-shadow: 0 0 0.25px white;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    margin-left: 9px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    margin-left: 8px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    margin-left: 7.7px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    margin-left: 6.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    margin-left: 6px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    font-size: 30px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    font-size: 27px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    font-size: 26.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    font-size: 22.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container .company_name {
    font-size: 21px;
  }
}
@media (max-width: 300px) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .logo_name_container {
    height: auto;
    text-align: center;
  }
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
  position: relative;
  display: inline-block;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-left: 9.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-left: 8.5px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-left: 8.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-left: 7px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-left: 6.5px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-right: 9.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-right: 8.5px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-right: 8.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-right: 7px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon {
    margin-right: 6.5px;
  }
}
#dom_id_1622622486976015727435773307974 .block1 .logo_social_container .social_container .social_icon:hover {
  opacity: 1;
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .block1 {
    width: 100%;
    text-align: center;
  }
}
#dom_id_1622622486976015727435773307974 .block2 {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  color: white;
}
#dom_id_1622622486976015727435773307974 .block2 .office_address_container {
  position: relative;
  width: 100%;
  height: auto;
}
#dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  color: #c6c0c0;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-bottom: 4px solid grey;
  font-family: "Lato", sans-serif;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
    font-size: 28.6px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
    font-size: 26px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
    font-size: 25.22px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
    font-size: 22.1px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .corporate_office {
    font-size: 20.8px;
  }
}
#dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
  color: #c6c0c0;
  line-height: 22px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
    font-size: 17.6px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
    font-size: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
    font-size: 15.52px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
    font-size: 13.6px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .block2 .office_address_container .address {
    font-size: 12.8px;
  }
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .block2 {
    width: 100%;
    text-align: center;
  }
}
#dom_id_1622622486976015727435773307974 .bottom_container {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .bottom_container {
    height: 54px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .bottom_container {
    height: 48px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .bottom_container {
    height: 46.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .bottom_container {
    height: 39px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .bottom_container {
    height: 36px;
  }
}
#dom_id_1622622486976015727435773307974 .bottom_container .copyright {
  color: #c6c0c0;
  font-size: 14px;
}