<div id="dom_id_1622622486976015727435773307974">
<style>
.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
</style>

<script>
modular.global['module_as_162262248697600014271759839690201'].obj_js = new function(){
const dom_id="#dom_id_1622622486976015727435773307974";
this.email = "";
this.phone_no = "";

};
</script>
</div>
<script class='closure_js_1622622486976049799742411439185'>
(function(){
const dom_id="#dom_id_1622622486976015727435773307974";
var obj_js=modular.global['module_as_162262248697600014271759839690201'].obj_js;

})();
</script>