.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 {
  top: 0%;
  width: 100%;
}
#dom_id_1622622486976015727435773307974 .header_module_container {
  position: fixed;
  width: 100%;
  height: 105px;
  box-shadow: 0 0 50px -15px white;
  background-color: #131921;
  top: 0%;
  left: 0%;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_module_container {
    height: 126px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_module_container {
    height: 115.5px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_module_container {
    height: 112.35px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_module_container {
    height: 99.75px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_module_container {
    height: 94.5px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block {
  position: absolute;
  bottom: 0%;
  height: 95%;
  width: 100%;
  box-sizing: border-box;
  background-color: #131921;
}
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container {
  position: relative;
  height: 65%;
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content auto;
  padding: 0 10px;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .grid-item {
  height: 100%;
}
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .logo {
  overflow: hidden;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .logo img {
  height: 85%;
}
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
  color: #ff9b19;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    font-size: 27px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    font-size: 24px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    font-size: 23.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    font-size: 19.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    font-size: 18px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block .search_block {
  position: relative;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  padding-right: 150px;
  box-sizing: border-box;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-left: 75px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-left: 60px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-left: 55.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-left: 37.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-left: 30px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-right: 75px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-right: 60px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-right: 55.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-right: 37.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block {
    padding-right: 30px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #333;
  padding-left: 10px;
  padding-right: 70px;
  box-sizing: border-box;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
    padding-right: 77px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
    padding-right: 70px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
    padding-right: 67.9px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
    padding-right: 59.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container input {
    padding-right: 56px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  background-color: #febd69;
  font-size: 23px;
  color: black;
  cursor: pointer;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    width: 66px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    width: 60px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    width: 58.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    width: 51px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    width: 48px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    font-size: 26.45px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    font-size: 24.15px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    font-size: 23.46px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    font-size: 20.7px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .search_button {
    font-size: 19.55px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container {
  position: absolute;
  display: none;
  z-index: 2020;
  top: 100%;
  margin-top: 0.5mm;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  font-family: sans-serif;
  overflow: hidden;
  border-collapse: collapse;
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container tr {
  transition: 0.1s all;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container tr:hover {
  background-color: #eee;
  transform: scale(1.01);
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container tr img {
  height: 100%;
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container tr:not(:last-child) {
  border-bottom: dashed 1px grey;
}
#dom_id_1622622486976015727435773307974 .header_block .search_block .search_container .suggestions_container td {
  text-align: center;
  vertical-align: middle;
  height: 50px;
}
#dom_id_1622622486976015727435773307974 .header_block .links_container {
  position: relative;
  height: 35%;
  width: 100%;
  background-color: #232f3e;
  color: white;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .header_block .links_container td {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .links_container td {
    font-size: 15px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .links_container td {
    font-size: 13.5px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .links_container td {
    font-size: 13.05px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .links_container td {
    font-size: 11.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .header_block .links_container td {
    font-size: 10.5px;
  }
}
#dom_id_1622622486976015727435773307974 .header_block .links_container td:hover {
  background-color: white;
  color: #232f3e;
}
#dom_id_1622622486976015727435773307974 .header_block .ham {
  position: absolute;
  top: 5px;
  right: 15px;
  height: 23%;
  display: none;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 800px) {
  #dom_id_1622622486976015727435773307974 .header_block .ham {
    display: block;
  }
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container {
    display: block;
    text-align: left;
    height: 100%;
    grid-template-columns: none;
  }
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .logo,
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name {
    position: relative;
    vertical-align: middle;
    padding: 0px;
    letter-spacing: 3px;
    height: 52%;
  }
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .logo img,
#dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .company_name img {
    height: 100%;
  }
  #dom_id_1622622486976015727435773307974 .header_block .logo_name_search_grid_container .search_block {
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 45%;
    width: 100%;
    display: inline-block;
  }
  #dom_id_1622622486976015727435773307974 .header_block .links_container {
    display: none;
  }
}