<div class="home_page_container" style="width:100%;">
    <div class="caption_block">The sweat, The time, The devotion, It pays off!</div>
    <div class="home_block1">
<!--        <div class="lctc fill" style="background: rgba(255,255,255,0.2);"></div>-->
<!--
        <div class="changing_message_box lc">
            <b>
                <div class="changing_message">The sweat, The time, The devotion, It pays off!</div>
            </b>
            <div class="changing_message_underline"></div><br>
        </div> 
-->
        <img class="banner_img_21-9" src="/app/res/images/Home/2020-08-06%20P4%20D4%2021-9.jpg">
        <img class="banner_img_4-3" src="/app/res/images/Home/2020-08-06%20P4%20D4%204-3.jpg">
    </div>
<!--
    <div class="category_block" style="width:100%;">
        <div class="category_title">
            <div class="line lctc"></div>
            <div class="title_name lctc">DOMESTIC EQUIPMENTS</div>
        </div>
        <div class="domestic categories_container" style="width:100%;">

            <div class="category_details_container" style="width: 350px; cursor: pointer; display: none;" onclick="modular.goto('/FeaturedProducts');">
                <div class="img_container fill"></div>
                <img class="category_image lc" src="/app/res/images/Home/Category/treadmill_icon.png">

                <div class="bottom_elements_container">
                    <div class="category_type_name">Treadmills</div>

                    <div class="category_type_description">Walking or running? Most experts agree that the treadmill is where cardiovascular fitness begins.</div>
                </div>
            </div>

        </div>
        <div class="category_title">
            <div class="line lctc"></div>
            <div class="title_name lctc">COMMERCIAL EQUIPMENTS</div>
        </div>
        <div class="commercial categories_container" style="width:100%;">
        </div>
    </div>
-->

<div class="how_it_works_block"></div>

    <div class="offers_block">

        <!--BEGIN image slider-->
        <div class="offer_images_slider_container" style="width: 100%;height: 100%">
            <div class="image_slides_container hide_scroll">
                <div class="slide1 image_slides"></div>
                <div class="slide2 image_slides"></div>
            </div>
            <div class="scroll_prevent_cover lctc fill">
                <button class="featured_products_button lctc" onclick="modular.goto('/BrowseCategory');">BROWSE PRODUCTS</button>
            </div>
            <svg class="right_arrow arrows" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z" />
            </svg>
            <svg class="left_arrow arrows" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z" />
            </svg>
        </div>
        <!--**END image slider-->

    </div>
    <!--
    <div id="service_block" class="services_block">
        <div class="services_heading">Select a service from below to find service providers.</div>
        <div class="work_types_container" style="width:100%">
            <div class="single_work_container" style="width:200px;display: none">
                <button>
                    <img class="service_image" src="/app/res/images/work_icons/1.png">
                </button>
                <button class="service_name">
                    Full contract
                </button>
            </div>

        </div>
    </div>
-->
    <!--
    <div class="discuss_in_person_block">
        <div class="title">Prefer to discuss in person?</div><br>
        <input class="phone_number_input" type=text placeholder="Phone number">
        <button class="register_interest_button">Call me</button>
    </div>
-->

</div>
