<div class="how_to_purchase_container">

    <div class="how_title title_theme">
        <div class="line lctc"></div>
        <div class="title_name lctc">HOW TO PURCHASE</div>
    </div>
    <div class="content_container">

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/search cart.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Find your product</div><br>
                <div class="single_content_description">Find product easily and in affordable pricing.</div>
            </div>
        </div>

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/contact2.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Submit contact info</div><br>
                <div class="single_content_description">We will get back to you and discuss delivery details.</div>
            </div>
        </div>

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/product_delivery3.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Product delivery</div><br>
                <div class="single_content_description">An experienced professional will show up on time with product at your doorstep.</div>
            </div>
        </div>

    </div>
    
    <div class="how_title title_theme">
        <div class="line lctc"></div>
        <div class="title_name lctc">SERVICE & REPAIRS</div>
    </div>
    <div class="content_container">

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/request bill receipt.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Service request</div><br>
                <div class="single_content_description">Your service request by enquiry or other contacts.</div>
            </div>
        </div>

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/customer care.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Discuss in a call </div><br>
                <div class="single_content_description">We will get back to you and discuss about compliants and your address.</div>
            </div>
        </div>

        <div class="single_content_container">
            <img class="single_content_image" src="/app/res/images/how/worker2.png">
            <div class="single_content_bottom_container">
                <div class="single_content_title">Assign worker</div><br>
                <div class="single_content_description">An experienced professional will show up on time to service product at your doorstep.</div>
            </div>
        </div>

    </div>
</div>
