.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .message_container {
  position: fixed;
  bottom: 1%;
  width: auto;
  max-width: 85%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 25px -5px #6e6e6e;
  background-color: white;
  color: #6e6e6e;
  overflow: hidden;
  padding: 10px 10px;
  opacity: 1;
  animation: firefly_effect 6s linear infinite;
}
#dom_id_1622622486976015727435773307974 .message_container .consent_ok_button {
  padding: 10px 20px;
  color: white;
  background-color: #333;
  border-radius: 5px;
  margin: 10px 0 2px 0;
  cursor: pointer;
}
@keyframes firefly_effect {
  0% {
    opacity: 0.3;
  }
  5% {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}