<div class="footer_container">

    <div class="block1">
        <div class="logo_social_container">
            <div class="logo_name_container">
                <button><img class="logo" src="/app/res/images/timefitness_logo.png"></button>
                <button class="company_name">TIME<span style="color: #750d06; text-shadow: 0 0 1px white;"> FITNESS</span></button>
            </div><br>

            <!--            <div class="connect_with_us">Connect with us on:</div>-->
            <div class="social_container">
                <a behaviour="default" href="https://www.facebook.com/timefitnessin">
                    <img class="social_icon" src="/app/res/images/footer/facebook_icon.png">
                </a>
                <a behaviour="default" href="https://www.twitter.com/timefitnessin">
                    <img class="social_icon" src="/app/res/images/footer/twitter_icon.png">
                </a>
                <a href="#" onclick="window.location='mailto:manojnedumpurath@gmail.com'; return false;">
                    <img class=" social_icon" src="/app/res/images/footer/instagram_icon.png">
                </a>

                <a behaviour="default" href="https://api.whatsapp.com/send?phone=+919446795555">
                    <img class="social_icon" src="/app/res/images/footer/whatsapp_icon.png">
                </a>

                <!--                <img class="social_icon" src="/app/res/images/footer/youtube_icon.png">-->

                <div class="ghost_icon"></div>
            </div>
        </div>
    </div>

    <div class="block2">
        <div class="office_address_container">
            <div class="corporate_office">CORPORATE OFFICE</div><br>
            <div class="address">
                Chandana Sports and Fitness Shop<br>
                Puthenchantha, Thuravoor, Cherthala<br>
                Kerala - 688 532<br>
                Phone: +91 9446795555<br>
                Email: manojnedumpurath@gmail.com
            </div>

        </div>

    </div>

</div>
<div class="bottom_container">
    <div class="copyright lctc">All rights reserved © 2020</div>
</div>
