<div class="login_container lctc">
    
    <form class="sign_in_form">
        <div class='wrong_credentials_message'>Wrong username/password</div><br>
        <input name="phone_number" value="8281661601" type="text" placeholder="10 digit phone number" required pattern="[0-9]{10}"><br><br>
        <input name="password" value="22995" type="password" placeholder="Password" required pattern=".{5,}"><br><br>
        <button class="log_in_button button1">Sign in</button><br><br>
        <div class="sign_up_instead_button instead_buttons"><b>Sign up?</b></div>
    </form>
    
    <form class="sign_up_form" style="display: none;">
        <div class='credentials_exist_message'></div><br><br>
<!--        <input name="full_name" type="text" placeholder="Full name" required><br><br>-->
        <input name="email" type="email" placeholder="Email" required><br><br>
        <input name="phone_number" type="text" placeholder="10 digit phone number" required pattern="[0-9]{10}"><br><br>
<!--        <input name="password" type="password" placeholder="Password (atleast 5 chars)" required pattern=".{5,}"><br><br>-->
<!--        <input type="password" placeholder="Re-enter password" required pattern=".{5,}"><br><br>-->
        <button class="button1 sign_up_button">Sign up</button><br><br>
        <div class="sign_in_instead_button instead_buttons"><b>Sign in?</b></div>
    </form>
    
    <div class="signed_in" style="display: none;">
        Successfully logged in<br>
<!--                        <br>Welcome back Samarnath.<br><br>-->
    </div>
    
    <div class="loading" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
            <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="3" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 0s;">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
        </svg>
    </div>

    <img class="close_button" src="/app/res/images/x2.png">

</div>
