$project_path : "project_path_1622622486976047741557289769854";
$dom_id : "dom_id_1622622486976015727435773307974";
@import "../app/res/scss/styler.scss";
@import "../app/res/scss/time_fitness_theme.scss";
#dom_id_1622622486976015727435773307974{
.category_menu_page_container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60vh;
    @include responsive(margin-top, $header_height);
    font-family: 'Lato', sans-serif;
    //    background-color: black;
    overflow: hidden;
}

.category_title {
    position: relative;
    @include responsive(margin-top, 80px);
    width: 100%;
    text-align: center;
    @include responsive(font-size, 28px);
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    color: #333;

}

.category_menu_container {
    position: relative;
    @include responsive(margin-top, 20px);
    //    width: 100%;LESS BUG
    @include responsive(padding-top, 20px);
    box-sizing: border-box;
    overflow: hidden;
    //    background-color: black;

    .single_menu_container {
        position: relative;
        float: left;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto max-content;
        margin-bottom: 50px;
        //        width: 280px;LESS BUG
        height: 350px;
        max-width: 90%;
        box-shadow: 0 0 10px -1px grey;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        //        background-color: black;

        &:hover {
            box-shadow: 0 7px 27px 0 rgba(23, 84, 116, 0.5);

        }

        .image_div {
            width: 100%;
            background-size: cover;
            background-position: center;

        }

        .category_name {
            width: 100%;
            padding: 20px 15px;
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0 0 30px white;
            text-align: center;
            color: black;
            font-size: 18px;
            font-family: "Lato", sans-serif;
        }

    }
}

}