.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .category_menu_page_container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin-top: 105px;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_page_container {
    margin-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_page_container {
    margin-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_page_container {
    margin-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_page_container {
    margin-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_page_container {
    margin-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .category_title {
  position: relative;
  margin-top: 80px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  color: #333;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    margin-top: 72px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    margin-top: 64px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    margin-top: 61.6px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    margin-top: 52px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    margin-top: 48px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    font-size: 25.2px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    font-size: 22.4px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    font-size: 21.56px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    font-size: 18.2px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_title {
    font-size: 16.8px;
  }
}
#dom_id_1622622486976015727435773307974 .category_menu_container {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    margin-top: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    margin-top: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    margin-top: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    margin-top: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    margin-top: 12px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    padding-top: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    padding-top: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    padding-top: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    padding-top: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .category_menu_container {
    padding-top: 12px;
  }
}
#dom_id_1622622486976015727435773307974 .category_menu_container .single_menu_container {
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content;
  margin-bottom: 50px;
  height: 350px;
  max-width: 90%;
  box-shadow: 0 0 10px -1px grey;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .category_menu_container .single_menu_container:hover {
  box-shadow: 0 7px 27px 0 rgba(23, 84, 116, 0.5);
}
#dom_id_1622622486976015727435773307974 .category_menu_container .single_menu_container .image_div {
  width: 100%;
  background-size: cover;
  background-position: center;
}
#dom_id_1622622486976015727435773307974 .category_menu_container .single_menu_container .category_name {
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 30px white;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}