<div class="side_bar_touch_ghost lctc"></div>
<div class="side_bar_container">
    <!--    <div class="x">&#10006</div>-->
    <div class="info">
        <div class="lctc" style="text-align: center">
            <img class="info_logo no_select" src="/app/res/images/timefitness_logo.png" oncontextmenu="return false;" ondragstart="return false;">
        </div>
    </div>
    <table class="page_list_table">
        <tbody>
            <tr>
                <td onclick="modular.goto('/');"><button>Home</button></td>
            </tr>
            <tr>
                <td onclick="modular.goto('/BrowseCategory');"><button>Products</button></td>
            </tr>
            <tr>
                <td onclick="modular.goto('/ContactUs');"><button>Contact Us</button></td>
            </tr>

            <tr>
                <td onclick="modular.goto('/AboutUs');"><button>About Us</button></td>
            </tr>
        </tbody>
    </table>
</div>
