.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 {
  /** BEGIN About us image block**/
  /** END About us image block**/
  /** BEGIN Brands block**/
  /** BEGIN Why Timefitness block**/
  /** END Why Timefitness block**/
}
#dom_id_1622622486976015727435773307974 .about_us_page_container {
  position: relative;
  margin-top: 105px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_page_container {
    margin-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_page_container {
    margin-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_page_container {
    margin-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_page_container {
    margin-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_page_container {
    margin-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .about_us_image_block {
  position: relative;
  width: 100%;
  height: 460px;
  background-image: url("project_path_1622622486976047741557289769854/app/res/images/about_us/about_us.jpg");
  background-position: center;
  background-size: cover;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block {
    height: 414px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block {
    height: 368px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block {
    height: 354.2px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block {
    height: 299px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block {
    height: 276px;
  }
}
#dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
  color: white;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
    font-size: 27px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
    font-size: 24px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
    font-size: 23.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
    font-size: 19.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .about_us_image_block .about_us_head {
    font-size: 18px;
  }
}
#dom_id_1622622486976015727435773307974 .about_us_image_block .ghost_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#dom_id_1622622486976015727435773307974 .count_block {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: auto;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table td {
  width: 100%/3;
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
  font-size: 40px;
  color: #6e6e6e;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
    font-size: 36px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
    font-size: 32px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
    font-size: 30.8px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
    font-size: 26px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) {
    font-size: 24px;
  }
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
  padding-top: 30px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
    padding-top: 27px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
    padding-top: 24px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
    padding-top: 23.1px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
    padding-top: 19.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(2) td {
    padding-top: 18px;
  }
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
  font-size: 20px;
  color: #333;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
    font-size: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
    font-size: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
    font-size: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
    font-size: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table tr:nth-child(3) {
    font-size: 12px;
  }
}
#dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
  height: 80px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
    height: 84px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
    height: 76px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
    height: 73.6px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
    height: 64px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .count_block .db_data_table .db_data_icon {
    height: 60px;
  }
}
#dom_id_1622622486976015727435773307974 .brands_block {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .brands_block .our_brands {
  position: relative;
  width: 65%;
  max-width: 1000px;
  margin: 50px auto;
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
  font-family: "Avenir NextLTPro Light", sans-serif;
  color: #444;
  letter-spacing: 2px;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1300px;
  margin-top: 10px;
  padding-bottom: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container {
  position: relative;
  display: inline-block;
  height: 280px;
  margin: 10px 10px;
  background-color: white;
  font-family: Montserrat, sans-serif;
  overflow: hidden;
  box-shadow: 0 0 5px lightgrey;
  transition: all 0.3s;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container:hover {
  transform: scale(1.025);
  box-shadow: 0 0 5px grey;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container .brand_logo {
  position: absolute;
  top: 30px;
  width: 60%;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container .bottom_elements_container {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container .bottom_elements_container .brand_name {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700px;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .brands_block .brands_container .brand_details_container .bottom_elements_container .brand_caption {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #58595b;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_timefitness_title {
  position: relative;
  width: 65%;
  max-width: 1000px;
  margin: 20px auto;
  border-bottom: 2px solid #333;
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
  font-family: "Avenir NextLTPro Light", sans-serif;
  color: #444;
  letter-spacing: 2px;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container .why_element {
  position: relative;
  display: inline-block;
  margin: 10px 30px;
  width: 170px;
  height: 250px;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container .why_element .why_image {
  position: absolute;
  width: 70%;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container .why_element .why_element_details {
  position: absolute;
  top: 110px;
  width: 100%;
  text-align: center;
  white-space: normal;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container .why_element .why_element_details .why_element_title {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 700px;
  text-align: center;
  font-family: "Avenir NextLTPro Bold", sans-serif;
  color: black;
}
#dom_id_1622622486976015727435773307974 .why_timefitness_block .why_elements_container .why_element .why_element_details .why_element_description {
  position: relative;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  text-align: center;
}