$project_path : "project_path_1622622486976047741557289769854";
$dom_id : "dom_id_1622622486976015727435773307974";
@import "../app/res/scss/styler.scss";
@import "../app/res/scss/time_fitness_theme.scss";
#dom_id_1622622486976015727435773307974{
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    @include responsive(width,150px);
    transform: translate(-50%,-50%);
}
}