.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  transform: translate(-50%, -50%);
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .logo {
    width: 135px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .logo {
    width: 120px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .logo {
    width: 115.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .logo {
    width: 97.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .logo {
    width: 90px;
  }
}