$project_path : "project_path_1622622486976047741557289769854";
$dom_id : "dom_id_1622622486976015727435773307974";
@import "../app/res/scss/styler.scss";
@import "../app/res/scss/time_fitness_theme.scss";
#dom_id_1622622486976015727435773307974{

position:fixed;
top:0%;
left:100%;
width:100%;
height:100%;
transition: all 0.5s;

.x {
    color: black;
    font-size: 30px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.info {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    padding-bottom: 60px;
    font-family: sans-serif;
}

.info_logo {
    width: 75px;
}
.side_bar_touch_ghost{
    width:100%;
    height: 100%;
}
.side_bar_container {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 100%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 2px $c1;
    text-align: center;
    overflow-x: scroll;
}

.page_list_table {
    position: relative;
    width: 70%;
    margin: auto;

}

.page_list_table td {
    border-top: 3px solid $c1;
    border-bottom: 3px solid $c1;
    padding: 20px 0px;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1.5px;
    @include responsive(font-size,20px);
    transition: all 0.4s;
    text-align: center;
    cursor: pointer;

    button {
         @include responsive(font-size,20px,-10);
        cursor: pointer;
        transition: all 0.4s;
    }
}

.page_list_table td:hover {
    background-color: $c1;
    color: white;

    button {
        color: white;
    }
}

}