<div id="dom_id_1622622486976015727435773307974">
<style>
.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 {
  position: fixed;
  top: 0%;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
#dom_id_1622622486976015727435773307974 .x {
  color: black;
  font-size: 30px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .info {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-bottom: 60px;
  font-family: sans-serif;
}
#dom_id_1622622486976015727435773307974 .info_logo {
  width: 75px;
}
#dom_id_1622622486976015727435773307974 .side_bar_touch_ghost {
  width: 100%;
  height: 100%;
}
#dom_id_1622622486976015727435773307974 .side_bar_container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 200px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 2px #333;
  text-align: center;
  overflow-x: scroll;
}
#dom_id_1622622486976015727435773307974 .page_list_table {
  position: relative;
  width: 70%;
  margin: auto;
}
#dom_id_1622622486976015727435773307974 .page_list_table td {
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  padding: 20px 0px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  transition: all 0.4s;
  text-align: center;
  cursor: pointer;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td {
    font-size: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td {
    font-size: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td {
    font-size: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td {
    font-size: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td {
    font-size: 12px;
  }
}
#dom_id_1622622486976015727435773307974 .page_list_table td button {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td button {
    font-size: 20px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td button {
    font-size: 18px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td button {
    font-size: 17.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td button {
    font-size: 15px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .page_list_table td button {
    font-size: 14px;
  }
}
#dom_id_1622622486976015727435773307974 .page_list_table td:hover {
  background-color: #333;
  color: white;
}
#dom_id_1622622486976015727435773307974 .page_list_table td:hover button {
  color: white;
}
</style>
<div class="side_bar_touch_ghost lctc"></div>
<div class="side_bar_container">
    <!--    <div class="x">&#10006</div>-->
    <div class="info">
        <div class="lctc" style="text-align: center">
            <img class="info_logo no_select" src="/app/res/images/timefitness_logo.png" oncontextmenu="return false;" ondragstart="return false;">
        </div>
    </div>
    <table class="page_list_table">
        <tbody>
            <tr>
                <td onclick="modular.goto('/');"><button>Home</button></td>
            </tr>
            <tr>
                <td onclick="modular.goto('/BrowseCategory');"><button>Products</button></td>
            </tr>
            <tr>
                <td onclick="modular.goto('/ContactUs');"><button>Contact Us</button></td>
            </tr>

            <tr>
                <td onclick="modular.goto('/AboutUs');"><button>About Us</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
modular.global['module_as_162262248697600014271759839690201'].obj_js = new function(){
const dom_id="#dom_id_1622622486976015727435773307974";
var obj_this = this;
this.hide_side_bar = function () {
    $(dom_id).css({
        "left": "100%"
    });
};
this.show_side_bar = function () {
    $(dom_id).css({
        "left": "0%"
    });
};

};
</script>
</div>
<script class='closure_js_1622622486976049799742411439185'>
(function(){
const dom_id="#dom_id_1622622486976015727435773307974";
var obj_js=modular.global['module_as_162262248697600014271759839690201'].obj_js;
$(dom_id + " .side_bar_container .x," + dom_id + " .page_list_table td,"+ dom_id + " .side_bar_touch_ghost").on("click", obj_js.hide_side_bar);
})();
</script>