button,
input,
a {
    display: inline-block;
    outline: none;
    border: 0px;

    background-color: transparent;

    margin: 0;
    padding: 0;

    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

* {
    scrollbar-width: thin;
}

button::-moz-focus-inner,
a::-moz-focus-inner {
    border: 0;
}

body {
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


//::-webkit-scrollbar {
//    width: 0px;
//    /* remove scrollbar space */
//    background: transparent;
//    /* optional: just make scrollbar invisible */
//}

$c1: #a7712f;
.button1 {
  background-color: $c1;
  color: white;
  border: 1px solid $c1;
  cursor: pointer;
  transition: 0.3s all; }

.button1:hover {
  color: $c1;
  background-color: white;
}
.imitate_table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    overflow: hidden;
}

.imitate_table_row {
    display: table-row;
    overflow: hidden;
}

.imitate_table_cell {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.lctc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
}

.tc {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.lc {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-right: -50%;
}
.fill{
    width: 100%;
    height: 100%;
}
