.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .home_page_container {
  position: relative;
  margin-top: 105px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_page_container {
    margin-top: 126px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_page_container {
    margin-top: 115.5px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_page_container {
    margin-top: 112.35px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_page_container {
    margin-top: 99.75px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_page_container {
    margin-top: 94.5px;
  }
}
#dom_id_1622622486976015727435773307974 .caption_block {
  position: relative;
  width: 100%;
  padding-top: 50px;
  font-family: "courier new";
  font-size: 40px;
  text-align: center;
  color: #c9081b;
  padding-bottom: 20px;
  text-shadow: 0 0 4px grey;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    padding-top: 40px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    padding-top: 35px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    padding-top: 33.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    padding-top: 27.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    padding-top: 25px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    font-size: 32px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    font-size: 28px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    font-size: 26.8px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    font-size: 22px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .caption_block {
    font-size: 20px;
  }
}
#dom_id_1622622486976015727435773307974 .home_block1 {
  position: relative;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
}
#dom_id_1622622486976015727435773307974 .home_block1 .banner_img_21-9,
#dom_id_1622622486976015727435773307974 .home_block1 .banner_img_4-3 {
  position: relative;
  width: 100%;
}
#dom_id_1622622486976015727435773307974 .home_block1 .banner_img_4-3 {
  display: none;
}
@media (max-width: 500px) {
  #dom_id_1622622486976015727435773307974 .home_block1 .banner_img_4-3 {
    display: block;
  }
  #dom_id_1622622486976015727435773307974 .home_block1 .banner_img_21-9 {
    display: none;
  }
}
#dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
  bottom: 90%;
  font-family: "courier new";
  font-size: 40px;
  text-align: center;
  max-width: 80%;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
    font-size: 32px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
    font-size: 28px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
    font-size: 26.8px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
    font-size: 22px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_box {
    font-size: 20px;
  }
}
#dom_id_1622622486976015727435773307974 .home_block1 .changing_message {
  color: #c9081b;
  padding-bottom: 20px;
  text-shadow: 0 0 4px grey;
}
#dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
  margin: auto;
  width: 200px;
  height: 6px;
  border-radius: 20px;
  background-color: white;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
    width: 180px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
    width: 160px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
    width: 154px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
    width: 130px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .home_block1 .changing_message_underline {
    width: 120px;
  }
}
#dom_id_1622622486976015727435773307974 .how_it_works_block {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
#dom_id_1622622486976015727435773307974 .offers_block {
  position: relative;
  width: 100%;
  height: auto;
  height: 600px;
  margin-bottom: 5px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block {
    height: 480px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block {
    height: 420px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block {
    height: 402px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block {
    height: 330px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block {
    height: 300px;
  }
}
#dom_id_1622622486976015727435773307974 .offers_block .image_slides_container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
#dom_id_1622622486976015727435773307974 .offers_block .image_slides_container .image_slides {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
#dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
#dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
  border: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  color: white;
  cursor: pointer;
  font-size: 19px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-right: 90px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-right: 80px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-right: 77px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-right: 65px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-right: 60px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-left: 90px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-left: 80px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-left: 77px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-left: 65px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button {
    padding-left: 60px;
  }
}
#dom_id_1622622486976015727435773307974 .offers_block .scroll_prevent_cover .featured_products_button:hover {
  background-color: white;
  color: black;
}
#dom_id_1622622486976015727435773307974 .offers_block .arrows {
  position: absolute;
  display: none;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  transform: translate(0%, -50%) scale(2.3, 4);
  transition: all 0.3s;
  fill: black;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .offers_block .arrows path {
  filter: drop-shadow(0 0 1px white);
  transition: all 0.3s;
}
#dom_id_1622622486976015727435773307974 .offers_block .arrows:hover {
  background-color: rgba(255, 255, 255, 0.3);
  fill: white;
}
#dom_id_1622622486976015727435773307974 .offers_block .arrows:hover path {
  filter: drop-shadow(0 0 1px black);
}
#dom_id_1622622486976015727435773307974 .offers_block .right_arrow {
  transform-origin: right;
  margin-right: 10px;
  right: 0%;
}
#dom_id_1622622486976015727435773307974 .offers_block .left_arrow {
  transform-origin: left;
  margin-left: 10px;
  left: 0%;
}