<div class="about_us_page_container">
    <div class="about_us_image_block">
        <div class="ghost_image"></div>
        <div class="about_us_head lctc">ABOUT US</div>
    </div>

    <div class="count_block" style="display: none;">
        <table class="db_data_table" oncontextmenu="return false;" ondragstart="return false;" onclick="modular.goto('/BrowseCategory');">
            <tr>
                <td><img class="db_data_icon" src="/app/res/images/options_tree/University.png"></td>
                <td><img class="db_data_icon" src="/app/res/images/options_tree/Subject.png"></td>
                <td><img class="db_data_icon" src="/app/res/images/question_paper.png"></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Brands</td>
                <td>Kinds of products</td>
                <td>Products</td>
            </tr>
        </table>
        <br>
    </div>

    <div class="brands_block">
        <div class="our_brands">OUR BRANDS</div>
        <div class="brands_container hide_scroll">

            <div class="brand_details_container" style="width: 230px; display: none;">
                <img class="brand_logo lc" src="/app/res/images/about_us/steelflexlogo.jpg">
                <div class="bottom_elements_container">
                    <div class="brand_name">STEEL FLEX</div><br>
                    <div class="brand_caption">Smart, Safety, Simplicity</div>
                </div>
            </div>

        </div>
    </div>

    <div class="why_timefitness_block">
        <div class="why_timefitness_title">WHY TIME FITNESS?</div>
        <div class="why_elements_container hide_scroll">

            <div class="why_element">
                <img class="why_image lc" src="/app/res/images/about_us/expert_installation.png">
                <div class="why_element_details">
                    <div class="why_element_title">EXPERT INSTALLATION</div>
                    <div class="why_element_description">Extensive experience in making purchasing and installation easy</div>
                </div>
            </div>

            <div class="why_element">
                <img class="why_image lc" src="/app/res/images/about_us/trusted_history.png">
                <div class="why_element_details">
                    <div class="why_element_title">TRUSTED HISTORY</div>
                    <div class="why_element_description">Built on trusted heritage and known quality</div>
                </div>
            </div>

            <div class="why_element">
                <img class="why_image lc" src="/app/res/images/about_us/professional_preferred.png">
                <div class="why_element_details">
                    <div class="why_element_title">PROFESSIONAL PREFERRED</div>
                    <div class="why_element_description">Preferred in the fitness industry by trainers and athletes</div>
                </div>
            </div>

            <div class="why_element">
                <img class="why_image lc" src="/app/res/images/about_us/club-inspired_home_fitness.png">
                <div class="why_element_details">
                    <div class="why_element_title">CLUB-INSPIRED HOME FITNESS</div>
                    <div class="why_element_description">Our home fitness products are just like those you’d see at the club</div>
                </div>
            </div>

            <div class="why_element">
                <img class="why_image lc" src="/app/res/images/about_us/widest_selection.png">
                <div class="why_element_details">
                    <div class="why_element_title">WIDEST SELECTION</div>
                    <div class="why_element_description">Several lines of equipment for all different exercise goals</div>
                </div>
            </div>


        </div>
    </div>

</div>
