.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .how_to_purchase_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 38px;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-top: 63px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-top: 54px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-top: 51.3px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-top: 40.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-top: 36px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-bottom: 63px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-bottom: 54px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-bottom: 51.3px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-bottom: 40.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    margin-bottom: 36px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    font-size: 30.4px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    font-size: 26.6px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    font-size: 25.46px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    font-size: 20.9px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title {
    font-size: 19px;
  }
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 3px;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-left: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-left: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-left: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-left: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-left: 12px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-right: 18px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-right: 16px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-right: 15.4px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-right: 13px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    padding-right: 12px;
  }
}
@media (max-width: 700px) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .title_name {
    margin-left: 1px;
    margin-right: 1px;
  }
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .how_title .line {
  height: 3px;
  background-color: #333;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container {
  position: relative;
  margin-top: 4%;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container {
  position: relative;
  float: left;
  width: 33.33%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_image {
  position: relative;
  width: 30%;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container {
  position: relative;
  display: inline-block;
  width: 80%;
  height: auto;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: 600;
  color: #036c66;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
    font-size: 19.8px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
    font-size: 17.6px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
    font-size: 16.94px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
    font-size: 14.3px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_title {
    font-size: 13.2px;
  }
}
#dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 19px;
  color: black;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    font-size: 17.1px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    font-size: 15.2px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    font-size: 14.63px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    font-size: 12.35px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    font-size: 11.4px;
  }
}
@media (max-width: 720px) {
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container {
    float: none;
    text-align: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_image {
    float: left;
    width: 20%;
  }
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container {
    float: left;
    width: 79%;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;
  }
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container single_content_title {
    padding-bottom: 0px;
  }
  #dom_id_1622622486976015727435773307974 .how_to_purchase_container .content_container .single_content_container .single_content_bottom_container .single_content_description {
    text-align: left;
  }
}