    .account_page_container {
        @include responsive(padding-top, $header_height);
        //    width: 90%; less async
        //    position: relative;
        height: 100%;
        box-sizing: border-box;
        background-color: #f1f3f6;
        margin-right: auto;
        margin-left: auto;
        overflow-x: hidden;
        overflow-y: scroll;

        .top_buttons_container,
        .profile_details_container {
            //        width: 90%; less async
            padding-top: 5px;
            padding-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
            //        background-color: lightblue;
            overflow: hidden;
        }

        .top_buttons_container {
            @include responsive(margin-top, 50px, 50);

            .top_big_buttons {
                //            width: 100px; less async
                height: 50px;
                background-color: white;
                float: left;
                overflow: hidden;
                box-shadow: 0 0 2px #cecece;
                transition: all 0.2s;
                margin-bottom: 10px;

                &,
                * {
                    cursor: pointer;
                }

                &:hover {
                    box-shadow: 0 0 5px grey;
                }

                button {
                    float: left;
                    height: 100%;
                    overflow: hidden;
                    font-size: 18px;
                    box-sizing: border-box;
                    font-family: sans-serif;

                    &:first-child {
                        width: 40%;
                        padding-left: 10px;
                    }

                    &:last-child {
                        width: 60%;
                        padding-right: 10px;
                    }

                    img {
                        height: 65%;
                    }
                }
            }
        }

        .profile_details_container {

            @include responsive(margin-top, 50px, 50);
            width: 90%;
            max-width: 1000px;
            box-sizing: border-box;
            padding: 30px;
            margin-bottom: 20px;

        }
    }

    .form1 {

        background-color: white;
        box-shadow: 0 0 10px lightgrey;

        .form_title {
            width: 100%;
            height: 60px;
            font-family: sans-serif;
            //        background-color: #2c2cff;
            background-color: $c1;
            color: white;
            font-size: 19px;
            margin-bottom: 20px;
        }

        .input_container {
            position: relative;
            display: inline-block;
            width: auto;
            position: relative;
            //        border: 1px solid lightgrey;
            //        border: 1px solid grey;
            height: auto;
            min-height: 53px;
            max-width: 100%;
            margin: 0px;
            color: black;
            border: 1px solid #b0b0b0;
            border-radius: 3px;
            margin-bottom: 20px;
            box-sizing: border-box;
            padding: 1px;//CSS bug fix, border of parent disappearing at certain screen widths.
            &:hover {
                border: 1px solid black;
            }

            &:focus-within {
                border: 2px solid $c1;

                .input_label {
                    color: $c1;
                }
            }

            input[type="text"] {
                max-width: 100%;
                height: 53px;
                padding-left: 30px;
                //            padding-top: 5px;
                font-size: 18px;
                box-sizing: border-box;

            }

            input[type="radio"] {
                transform: scale(1.5);
                margin: 0px 5px;
                cursor: pointer;
            }
            button{
                height: 100%;
            }
            textarea{
                resize: none;
                width: 350px;
                max-width: 100%;
                height: 100px;
                border: none;
                margin: 0px;
                padding: 0px;
                padding-left: 30px;
                padding-top: 20px;
                box-sizing: border-box;
                font-size: 18px;
                text-decoration: none;
                
            }
            .input_label {
                position: absolute;
                top: 0%;
                left: 0%;
                padding-left: 6px;
                padding-right: 5px;
                margin-left: 10px;
                transform: translate(0%, -50%);
                font-family: sans-serif;
                color: grey;
                font-size: 14px;
                letter-spacing: 2px;
                background-color: white;
                cursor: default;
            }
        }
    }
