.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .login_container {
  display: none;
  overflow: hidden;
  height: auto;
  padding: 30px;
  width: 600px;
  text-align: center;
  background-color: white;
  font-family: sans-serif;
  color: #333;
  border: 1px solid black;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 450px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 390px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 372px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 300px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 270px;
  }
}
#dom_id_1622622486976015727435773307974 .login_container .close_button {
  position: absolute;
  width: 20px;
  top: 0%;
  right: 0%;
  margin: 10px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .login_container input {
  border: 1px solid grey;
  padding-left: 30px;
  width: 90%;
  height: 50px;
  margin: 0px;
  color: black;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .login_container .wrong_credentials_message,
#dom_id_1622622486976015727435773307974 .login_container .credentials_exist_meassage {
  display: none;
  margin-bottom: 5px;
  color: red;
}
#dom_id_1622622486976015727435773307974 .login_container .log_in_button,
#dom_id_1622622486976015727435773307974 .login_container .sign_up_button {
  padding: 15px;
  width: 50%;
  font-size: 17px;
}
#dom_id_1622622486976015727435773307974 .login_container .instead_buttons {
  cursor: pointer;
  font-size: 18px;
}
#dom_id_1622622486976015727435773307974 .login_container .instead_buttons:hover {
  text-decoration: underline;
  text-shadow: 0 0 1px black;
}