<div id="dom_id_1622622486976015727435773307974">
<style>
.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .login_container {
  display: none;
  overflow: hidden;
  height: auto;
  padding: 30px;
  width: 600px;
  text-align: center;
  background-color: white;
  font-family: sans-serif;
  color: #333;
  border: 1px solid black;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 450px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 390px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 372px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 300px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .login_container {
    width: 270px;
  }
}
#dom_id_1622622486976015727435773307974 .login_container .close_button {
  position: absolute;
  width: 20px;
  top: 0%;
  right: 0%;
  margin: 10px;
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .login_container input {
  border: 1px solid grey;
  padding-left: 30px;
  width: 90%;
  height: 50px;
  margin: 0px;
  color: black;
  box-sizing: border-box;
}
#dom_id_1622622486976015727435773307974 .login_container .wrong_credentials_message,
#dom_id_1622622486976015727435773307974 .login_container .credentials_exist_meassage {
  display: none;
  margin-bottom: 5px;
  color: red;
}
#dom_id_1622622486976015727435773307974 .login_container .log_in_button,
#dom_id_1622622486976015727435773307974 .login_container .sign_up_button {
  padding: 15px;
  width: 50%;
  font-size: 17px;
}
#dom_id_1622622486976015727435773307974 .login_container .instead_buttons {
  cursor: pointer;
  font-size: 18px;
}
#dom_id_1622622486976015727435773307974 .login_container .instead_buttons:hover {
  text-decoration: underline;
  text-shadow: 0 0 1px black;
}
</style>
<div class="login_container lctc">
    
    <form class="sign_in_form">
        <div class='wrong_credentials_message'>Wrong username/password</div><br>
        <input name="phone_number" value="8281661601" type="text" placeholder="10 digit phone number" required pattern="[0-9]{10}"><br><br>
        <input name="password" value="22995" type="password" placeholder="Password" required pattern=".{5,}"><br><br>
        <button class="log_in_button button1">Sign in</button><br><br>
        <div class="sign_up_instead_button instead_buttons"><b>Sign up?</b></div>
    </form>
    
    <form class="sign_up_form" style="display: none;">
        <div class='credentials_exist_message'></div><br><br>
<!--        <input name="full_name" type="text" placeholder="Full name" required><br><br>-->
        <input name="email" type="email" placeholder="Email" required><br><br>
        <input name="phone_number" type="text" placeholder="10 digit phone number" required pattern="[0-9]{10}"><br><br>
<!--        <input name="password" type="password" placeholder="Password (atleast 5 chars)" required pattern=".{5,}"><br><br>-->
<!--        <input type="password" placeholder="Re-enter password" required pattern=".{5,}"><br><br>-->
        <button class="button1 sign_up_button">Sign up</button><br><br>
        <div class="sign_in_instead_button instead_buttons"><b>Sign in?</b></div>
    </form>
    
    <div class="signed_in" style="display: none;">
        Successfully logged in<br>
<!--                        <br>Welcome back Samarnath.<br><br>-->
    </div>
    
    <div class="loading" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
            <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="3" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 0s;">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
        </svg>
    </div>

    <img class="close_button" src="/app/res/images/x2.png">

</div>

<script>
modular.global['module_as_162262248697600014271759839690201'].obj_js = new function(){
const dom_id="#dom_id_1622622486976015727435773307974";
$(dom_id + " .login_container .close_button").on("click", function () {
    $(dom_id + " .login_container").animate({
        "opacity": "0"
    }, 250, function () {
        $(dom_id + " .login_container").css({
            "display": "none"
        });
    });
});


this.show_account_container = function () {
    $(dom_id + " .login_container > *:not(:last-child)").css("display", "none");
    $(dom_id + " .login_container .wrong_credentials_message,"+ dom_id + " .login_container .credentials_exist_message").css("display", "none");
    $(dom_id + " .login_container .sign_in_form").css("display", "block");

    $(dom_id + " .login_container").css({
        "display": "block"
    });
    $(dom_id + " .login_container").animate({
        "opacity": "1"
    }, 250);
};

$(dom_id + " .sign_up_instead_button").on("click", function () {
    $(dom_id + " .sign_in_form").css("display", "none");
    $(dom_id + " .sign_up_form").css("display", "block").trigger("reset");
});

$(dom_id + " .sign_in_instead_button").on("click", function () {
    $(dom_id + " .sign_up_form").css("display", "none");
    $(dom_id + " .sign_in_form").css("display", "block");
});

};
</script>
</div>
<script class='closure_js_1622622486976049799742411439185'>
(function(){
const dom_id="#dom_id_1622622486976015727435773307974";
var obj_js=modular.global['module_as_162262248697600014271759839690201'].obj_js;
//BEGIN Sign in
$(dom_id + " .sign_in_form").on("submit", function (event) {
    $(dom_id + " .sign_in_form").css("display", "none");
    $(dom_id + " .login_container .loading").css("display", "block");
    event.preventDefault();
    var phone_number = $(this).find("input[name='phone_number']").val();
    var password = $(this).find("input[name='password']").val();
    $.ajax({
        type: "POST",
        url: modular.variables.server_script_path + "/login_signup/login.php",
        data: {
            phone_number: phone_number,
            password: password
        }
    }).done(function (data) {
        try {
            data = JSON.parse(data);
        } catch (e) {
            console.log(data);
            return;
        }
        //        console.log(data);
        if (data["status"] == "Authentication successful")
            successful_login(data);
        else
            authentication_failed();
    });
});

function successful_login(data) {
    $(dom_id + " .login_container .loading").css("display", "none");
    $(dom_id + " .signed_in").css("display", "block");

    setTimeout(function () {
        $(dom_id + " .login_container").animate({
            "opacity": 0
        }, function () {
            $(dom_id + " .login_container").css("display", "none");
        });
    }, 500);

    console.log("login successful");
    window.localStorage.setItem("sid", data.sid);
    window.localStorage.setItem("pass_key", data.pass_key);
    modular.global.header.obj_js.show_user_fullname(data["Full name"]);
};

function authentication_failed() {
    $(dom_id + " .login_container .loading").css("display", "none");
    $(dom_id + " .sign_in_form").css("display", "block");
    console.log("login failed");
    $(dom_id + " .sign_in_form .wrong_credentials_message").css("display", "block");
};
//**END Sign in

//BEGIN Sign up
$(dom_id + " .sign_up_form").on("submit", function (event) {
    $(dom_id + " .sign_up_form").css("display", "none");
    $(dom_id + " .login_container .loading").css("display", "block");
    event.preventDefault();
    var phone_number = $(this).find("input[name='phone_number']").val();
    var email = $(this).find("input[name='email']").val();
    $.ajax({
        type: "POST",
        url: modular.variables.server_script_path + "/login_signup/sign_up.php",
        data: {
            phone_number: phone_number,
            email: email
        }
    }).done(function (data) {
        try {
            data = JSON.parse(data);
        } catch (e) {
            console.log(data);
            return;
        }
        console.log(data);
        if (data["status"] == "Success") {
            console.log("Sign up validation successful");
        } else {
            if (data["log"].indexOf("Email exists") != -1)
                sign_up_failed("An account already exists with email entered.");
            else if (data["log"].indexOf("Phone number exists") != -1)
                sign_up_failed("An account already exists with phone number entered.")
        }

    });
});

function sign_up_failed(message) {
    $(dom_id + " .login_container .loading").css("display", "none");
    $(dom_id + " .sign_up_form").css("display", "block");
    console.log("Sign up failed");
    $(dom_id + " .sign_up_form .credentials_exist_message").html(message);
    $(dom_id + " .sign_up_form .credentials_exist_message").css("display", "block");
};
//**END Sign up

})();
</script>