.imitate_table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    overflow: hidden;
}

.imitate_table_row {
    display: table-row;
    overflow: hidden;
}

.imitate_table_cell {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
