@use 'sass:math';
.hide_scroll {
    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
        background: transparent;
    }

    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.no_select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}



//BEGIN Responsive mixins
@mixin responsive($property, $max-size, $rate: 0, $curve: 1) {
     #{$property}: $max-size;
    @media (max-height: 1205px) and (orientation:landscape),
        (max-width:1205px) and (orientation:portrait) {
        //Below 1080p viewport, max-portrait-width:600
         #{$property}: math.div($max-size*(90-$rate),100);
    }
    @media (max-height: 900px) and (orientation:landscape),
        (max-width:900px) and (orientation:portrait) {
        //Below 1080p viewport, max-portrait-width:600
         #{$property}: math.div($max-size*(80-$rate),100);
    }


    @media (max-height:601px) and (orientation:landscape),
    (max-width:601px) and (orientation:portrait) {
        //Below 720p viewport, max-portrait-width: 550
        //tablets
         #{$property}: math.div($max-size*(77-$rate),100);
    }

    @media (max-height:420px) and (orientation:landscape),
    (max-width:420px) and (orientation:portrait) {
        //Below 480p viewport, max-portrait-width: 350
        //google pixel 2,2xl;iphone 6,7,8,X
         #{$property}: math.div($max-size*(65-$rate),100);
    }

    @media (max-height:350px) and (orientation:landscape),
    (max-width:350px) and (orientation:portrait) {
        //Below 480p display, max-portrait-width:300px
        //iphone 4,5
         #{$property}: math.div($max-size*(60-$rate),100);
    }
}

@mixin up_responsive($property, $max-size, $rate: 0, $curve: 1) {
     #{$property}: $max-size;

    @media (max-height: 900px) and (orientation:landscape),
        (max-width:900px) and (orientation:portrait) {
        //Below 1080p viewport, max-portrait-width:600
         #{$property}: math.div($max-size*(60-$rate),100);
    }


    @media (max-height:601px) and (orientation:landscape),
    (max-width:601px) and (orientation:portrait) {
        //Below 720p viewport, max-portrait-width: 550
        //tablets
         #{$property}: math.div($max-size*(65-$rate),100);
    }

    @media (max-height:420px) and (orientation:landscape),
    (max-width:420px) and (orientation:portrait) {
        //Below 480p viewport, max-portrait-width: 350
        //google pixel 2,2xl;iphone 6,7,8,X
         #{$property}: math.div($max-size*(77-$rate),100);
    }

    @media (max-height:350px) and (orientation:landscape),
    (max-width:350px) and (orientation:portrait) {
        //Below 480p display, max-portrait-width:300px
        //iphone 4,5

         #{$property}: math.div($max-size*(80-$rate),100);
    }
}

//**END Responsive mixins
