
@use 'sass:math';

/*@use "scss2.scss";*/
@mixin responsive($property, $max-size, $rate: 0, $curve: 1) {
    $property: $max-size;
    @media (max-height: 1205px) and (orientation:landscape),
        (max-width:1205px) and (orientation:portrait) {
        #{$property}: math.div($max-size * (65 - $rate), 100)
    }

    @media (max-height:420px) and (orientation:landscape),
    (max-width:420px) and (orientation:portrait) {
        #{$property}: math.div($max-size*(65-$rate),100);
    }
}


.sidebar {
    /*@import "scss2.scss";*/
    color : red;
    @include responsive(font-size,30);
}

.sidebar2 {
color : red;
    @include responsive(font-size,30);
}
