<div class="contact_us_page_container">

    <div class="image">
        <div class="ghost_image"></div>
        <div class="contact_us_head lctc">CONTACT US</div>
    </div>

    <form class="enquiry_form" onsubmit="return false;">

        <input type="text" name="Fullname" placeholder="Your Name" class="inputs"><br><br>

        <select class="select" name="Gender">
            <option value="" style="display: none;">Choose gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <input type="text" name="Phone number" placeholder="Your Mobile Number" class="inputs"><br>

        <input type="text" name="Email" placeholder="Your Email" class="inputs"><br><br>

        <select class="select" name="Preferred contact method">
            <option value="" style="display: none;">Preferred contact method</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
        </select><br><br>

        <select class="select" name="Language">
            <option value="" style="display: none;">Preferred language</option>
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Malayalam">Malayalam</option>
        </select><br>

        <textarea rows="4" cols="26" name="Description" placeholder="Your Message (Not less than 20 characters)" class="text_area"></textarea>
        <div class="character_count">0</div><br><br>

        <!--        <div class=""><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Ld7bcMUAAAAAH0cmjoplba9Cy7r5QE9IZgEOWnW&amp;co=aHR0cHM6Ly93d3cuZml0bmVzcy13b3JsZC5pbjo0NDM.&amp;hl=en&amp;v=JZfekeK8w6ZlhLfH_ZyseSLX&amp;size=normal&amp;cb=cpizzdgjr9o3" role="presentation" name="a-adpwva97xb0q" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" height="78" frameborder="0"></iframe></div>-->
        <button class="send_button">SEND MESSAGE</button>

        <!--            <button class="clear">CLEAR</button>-->
        <div class="loading lctc" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling lctc" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
                <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 2s;">
                    <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
                </circle>
            </svg>
        </div>
    </form>

    <div id="google_map">
        <iframe width="100%" height="400px" src="https://maps.google.com/maps?q=timefitness%20thuravoor&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.google.com/maps/place/Chandana+Sports+%26fitness/@9.7520217,76.3188879,21z/data=!4m5!3m4!1s0x0:0x5774e35a695c4048!8m2!3d9.7520183!4d76.3188206?hl=en-US">TimeFitness</a>
    </div>



    <div class="ghost lctc fill" style="position: fixed; background-color: rgba(0,0,0,0.8); display: none;"></div>

    <div class="alert_box lctc">
        <span class="error_message">please enter</span>
        <button class="close_alert_box">&#xf00d;</button>
    </div>

    <div class="message_box lctc">
        <img class="tick_image" src="/app/res/images/tick2.png">
        <div class="message"><span class="thanks lc">Thank You!</span><br><br>Enquiry saved successfully.<br>We will get back you soon.</div>
        <button class="ok_button">OK</button>
    </div>

</div>
