$project_path : "project_path_1622622486976047741557289769854";
$dom_id : "dom_id_1622622486976015727435773307974";
@import "../app/res/scss/styler.scss";
@import "../app/res/scss/time_fitness_theme.scss";
#dom_id_1622622486976015727435773307974{
.product_list_page_container {
    position: relative;
    @include responsive(margin-top, $header_height);
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    min-height: 90vh;
    overflow: hidden;

}

.product_list_container {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;

    .list_title {
        position: relative;
        //        margin-bottom: 20px;
        @include responsive(padding-left, 40px);
        @include responsive(padding-right, 40px);
        @include responsive(font-size, 28px);
        font-family: "Lato", sans-serif;
        letter-spacing: 2px;
        color: #333;
    }

    .products_container {
        position: relative;
        width: 100%;
        height: auto;
        @include responsive(margin-top, 50px);
        box-sizing: border-box;

        .single_product {
            position: relative;
            float: left;
            display: grid;
            //            width: 270px; LESS BUG
            grid-template-columns: auto;
            grid-template-rows: auto max-content max-content max-content;
            height: 355px;
            @include responsive(margin-bottom, 100px);
            box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
            background-color: white;

            * > {
                cursor: pointer;
            }



            &:hover {

                box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.5);

            }

            .image_container {

                .product_image {
                    position: relative;
                    width: 80%;
                }
            }

            .product_name {
                width: 100%;
                padding: 5px 0;
                color: black;
                font-size: 16px;
                font-family: sans-serif;
                text-align: center;

            }

            .product_type {
                width: 100%;
                padding: 5px 0;
                color: #333;
                font-size: 14px;
                font-family: sans-serif;
                text-align: center;

            }

            .product_details_container {
                display: grid;
                grid-template-columns: auto max-content;
                width: 100%;
                padding: 10px 0;

                .prices_container {

                    .selling_price {
                        color: #237c74;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: sans-serif;
                    }

                    .MRP {
                        font-size: 12px;
                        font-family: sans-serif;
                        color: gray;
                        text-decoration: line-through;
                    }

                }

                .off_percentage {
                    margin: 10px;
                    color: #0089dc;
                    font-size: 14px;
                    font-family: sans-serif;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    border: 1px solid #0089dc;
                }
            }

        }
    }

    .view_more_container {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;


        .view_more_button {
            position: relative;
            display: none;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            height: 45px;
            background-color: white;
            color: #0089dc;
            text-shadow: 0 0 0.5px white;
            border: 0.5px solid #555;
            box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
            cursor: pointer;

            &:hover {
                background-color: lightgray;
                color: black;
                text-shadow: 0 0 0.5px white;
            }
        }

        .view_more_loading {
            position: relative;
            display: none;
            width: 100%;
            height: 45px;
        }

        .no_more_results {
            position: relative;
            display: none;
            opacity: 0.5;
            height: 50px;
        }
    }

}

}