.hide_scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.hide_scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#dom_id_1622622486976015727435773307974 .product_list_page_container {
  position: relative;
  margin-top: 105px;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  min-height: 90vh;
  overflow: hidden;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_page_container {
    margin-top: 94.5px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_page_container {
    margin-top: 84px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_page_container {
    margin-top: 80.85px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_page_container {
    margin-top: 68.25px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_page_container {
    margin-top: 63px;
  }
}
#dom_id_1622622486976015727435773307974 .product_list_container {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: auto;
}
#dom_id_1622622486976015727435773307974 .product_list_container .list_title {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  color: #333;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-left: 36px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-left: 32px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-left: 30.8px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-left: 26px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-left: 24px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-right: 36px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-right: 32px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-right: 30.8px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-right: 26px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    padding-right: 24px;
  }
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    font-size: 25.2px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    font-size: 22.4px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    font-size: 21.56px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    font-size: 18.2px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .list_title {
    font-size: 16.8px;
  }
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
  box-sizing: border-box;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container {
    margin-top: 45px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container {
    margin-top: 40px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container {
    margin-top: 38.5px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container {
    margin-top: 32.5px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container {
    margin-top: 30px;
  }
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content max-content max-content;
  height: 355px;
  margin-bottom: 100px;
  box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
  background-color: white;
}
@media (max-height: 1205px) and (orientation: landscape), (max-width: 1205px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
    margin-bottom: 90px;
  }
}
@media (max-height: 900px) and (orientation: landscape), (max-width: 900px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
    margin-bottom: 80px;
  }
}
@media (max-height: 601px) and (orientation: landscape), (max-width: 601px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
    margin-bottom: 77px;
  }
}
@media (max-height: 420px) and (orientation: landscape), (max-width: 420px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
    margin-bottom: 65px;
  }
}
@media (max-height: 350px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  #dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product {
    margin-bottom: 60px;
  }
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product * > {
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product:hover {
  box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.5);
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .image_container .product_image {
  position: relative;
  width: 80%;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_name {
  width: 100%;
  padding: 5px 0;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_type {
  width: 100%;
  padding: 5px 0;
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_details_container {
  display: grid;
  grid-template-columns: auto max-content;
  width: 100%;
  padding: 10px 0;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_details_container .prices_container .selling_price {
  color: #237c74;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_details_container .prices_container .MRP {
  font-size: 12px;
  font-family: sans-serif;
  color: gray;
  text-decoration: line-through;
}
#dom_id_1622622486976015727435773307974 .product_list_container .products_container .single_product .product_details_container .off_percentage {
  margin: 10px;
  color: #0089dc;
  font-size: 14px;
  font-family: sans-serif;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #0089dc;
}
#dom_id_1622622486976015727435773307974 .product_list_container .view_more_container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
#dom_id_1622622486976015727435773307974 .product_list_container .view_more_container .view_more_button {
  position: relative;
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  background-color: white;
  color: #0089dc;
  text-shadow: 0 0 0.5px white;
  border: 0.5px solid #555;
  box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
  cursor: pointer;
}
#dom_id_1622622486976015727435773307974 .product_list_container .view_more_container .view_more_button:hover {
  background-color: lightgray;
  color: black;
  text-shadow: 0 0 0.5px white;
}
#dom_id_1622622486976015727435773307974 .product_list_container .view_more_container .view_more_loading {
  position: relative;
  display: none;
  width: 100%;
  height: 45px;
}
#dom_id_1622622486976015727435773307974 .product_list_container .view_more_container .no_more_results {
  position: relative;
  display: none;
  opacity: 0.5;
  height: 50px;
}