
.background{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.85;
}
.error_pic{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    box-shadow:0 0 50px $c1;
}